#
# Dalsa 1m60 config file (freerun)
#

# camera name/description
#
camera_class:                  "Dalsa"
camera_model:                  "1M60"
camera_info:                   "12 bit dual channel camera link"

# actual size/depth
#
width:                         1072
height:                        1030
depth:                         12
extdepth:                      12

# rbtfile is ignored for std camera link board but needed
# for DV FOX (fiberoptic) (v3.3.4.9 or later)
#
rbtfile: aiagcl.bit

# camera link data path register bits:
# 0-3: number of bits per pixel - 1
# 4-7: number of channels - 1
#
CL_DATA_PATH_NORM:       1b

MODE_CNTL_NORM:          00

# camera link config register bits:
# 0: RGB
# 1: ignore data valid
# 2-7: undefined
#
CL_CFG_NORM:             02

# deinterleave
#
method_interlace: EVEN_RIGHT_INTLV

# region of interest
#
vskip: 0
hskip: 0
hactv: 1024
vactv: 1024
htaps: 2
