#
# CAMERA_MODEL 	"Piranha 2"
#

camera_class:                  "Dalsa"
camera_model:                  "Piranha 2"
camera_info:                   "4Kx8 4 tap line scan, 800 lines"

width:                         4096
height:                        800
depth:                         8
extdepth:                      8

#
# camera link data path register bits:
# 0-3: number of bits per pixel - 1
# 4-7: number of channels - 1
#
# ignored by Dalsa P2 Xilinx
CL_DATA_PATH_NORM:             00


# camera link config register bits:
# 0: RGB
# 1: ignore data valid
# 2: linescan
# 3: ignore roi
#
CL_CFG_NORM:                   06

method_interlace:              PIRANHA_4CH_INTLV

continuous:                    1

vactv:                         800

htaps:                         4
