#
# CAMERA_MODEL 	"Dalsa Piranha P3-80-08K40
#
# pixel clock 40 MHz
#
# For detailed information on the configuration directives initialization 
# procedures, see the camera Configuration Guide and the PCI DV User's guide, 
# on your installation disk and in the documentation section of our web
# site (www.edt.com).
#

# camera description, for camera selection GUI and apps
# camera_class should be the manufacturer's name
#
camera_class:                  "Dalsa"
camera_model:                  "P3-80-08K40"
camera_info:                   "8192 x 256 lines, 8-bit 4-tap, calibration mode"

# actual width/height (total pixels) and depth of data from camera
# to only grab high 8-bits, set depth to 8 but leave extdepth set
# to actual depth, and adjust shift and mask accordingly
#
width:                         8192
height:                        256
depth:                         8
extdepth:                      8

# rbtfile is ignored for std camera link board but needed
# for DV FOX (fiberoptic) (v3.3.4.9 or later)
#
rbtfile: aiagcl.bit

# camera link data path register bits (argument is a 2-digit hex value):
# sets the expected input data size and #channels
# bits 0-3: number of bits per pixel minus 1
# bits 4-7: number of channels (taps) minus 1
#
CL_DATA_PATH_NORM:             37

# camera link config register bits
# (argument is a 2-digit hex value, hexval shown in parens):
# Bit# Hex  Description
#  0  (01): RGB (on for RGB color cameras only)
#  1  (02): ignore data valid (on for most cameras though not all)
#  2  (04): generate an FVAL on every LVAL or vactv (if 10 is set), for linescan
#  3  (08): disable ROI (rarely set)
#  4  (10): generate an FVAL after every vactv (height) lines, for linescan
#  5  (20): data valid invert (rare)
#  6  (40): RGB swap -- swap red/blue
#  7  (80): enable roi pad: if ROI > img output, will pad missing bytes
#
CL_CFG_NORM:                   16

# htaps -- automatic based on CL_DATA_PATH_NORM as of v4.2.1.7, or
# specify explicitly here, in case we're using an older rev package
#
htaps: 4

continuous: 			0

# serial setup specific to this camera (see camera users guide for details):
#
# sem 2, 7 or 8 (freerun) or sem 6 (triggered)
# clm 15 (8 bit 4 tap), or clm 21 (8 bit 8 tap)
# sot 320 (4 taps @ 80 MHz)
# (add svm 2 to set 8 bit step test) 
#
serial_init: "svm 0: sem 2: clm 15: sot 320: ssf 10000: set 50"

#special for this sensor, new as of 4.2.9.8  or newer
method_interlace: LINE_INTLV_P3_8X4

