#
# Dalsa PC-30-02k60
#
# 3-tap RGB 60 MHz pixel clock
#

# camera description, for camera selection GUI and apps
# camera_class should be the manufacturer's name
#
camera_class:                  "Dalsa"
camera_model:                  "PC-30-02k60, PC-30-02k80"
camera_info:                   "2048 x 1k lines, 24-bit RGB (clm 5), ext. trig"

# actual width/height (total pixels) and depth of data from camera
# to only grab high 8-bits, set depth to 8 but leave extdepth set
# to actual depth, and adjust shift and mask accordingly
#
width:                         2048
height:                        1024
depth:                         24
extdepth:                      24

# rbtfile is ignored for std camera link board but needed
# for DV FOX (fiberoptic) (v3.3.4.9 or later)
#
rbtfile: aiagcl.bit

# camera link data path register bits (argument is a 2-digit hex value):
# sets the expected input data size and #channels
# bits 0-3: number of bits per pixel minus 1
# bits 4-7: number of channels (taps) minus 1
#
CL_DATA_PATH_NORM:             27

# 24 bit RGB treated as 1 tap in SW
#
htaps: 1

# camera link config register bits
# (arg is a 2-digit hex value, hexval shown in parens):
# 0 (01): RGB (on for RGB color cameras only)
# 1 (02): ignore data valid (on for most cameras though not all)
# 2 (04): generate an FVAL on every LVAL, for line scan cameras
# 3 (08): disable ROI (rarely set)
# 4 (10): generate an FVAL after every vactv lines, for line scan cameras
# 5 (20): data valid invert (rare)
# 6 (40): RGB swap -- swap red/blue
# 7 (80): enable roi pad: if ROI > img output, will pad missing bytes
#
CL_CFG_NORM:                   17


# EXT. TRIGGER: be sure to set camera to "sem 6"
# for test parttern, send svm 1 or other value up to 10. Normal is svm 0;
# clm 5 is 8 bit RGB
# sot 40 can be used to slow clock down to 40MHz (60 is default)
#
serial_init:	"sem 6:clm 5"

#send opto signal out cc1 (A encoder)
MODE_CNTL_NORM:	a0

#disable frame sync from opto (Z encoder)
photo_trig:	1

#divider/multiply
#xregwrite_49:	9


#disable transfer until triggered
# (CL_CFG2 register is on pcie8 dv c-link and other future boards only)
#
CL_CFG2_NORM:	04
