# piranha 8k 2 tap 10bits
#

camera_class:                  "Dalsa"
camera_model:                  "Piranha 2"
camera_info:                   "4K x 8 bit 2 tap line scan, 512 lines, exp. mode 2"

# actual width/height (total pixels) and depth of data from camera
# OR # lines to grab for linescan continuous cameras
# to only grab high 8-bits, set depth to 8 but leave extdepth set
# to actual depth, and adjust shift and mask accordingly
#
width:                         4096
height:                        512
depth:                         8
extdepth:                      8

# rbtfile is ignored for std camera link board but needed
# for DV FOX (fiberoptic) (v3.3.4.9 or later)
#
rbtfile: aiagcl.bit

# camera link data path register bits (hex):
# 0-3: number of bits per pixel - 1
# 4-7: number of channels - 1
#
CL_DATA_PATH_NORM:            17

# camera link config register bits (hex):
# 0: RGB (on for RGB color cameras only)
# 1: ignore data valid (on for most cameras though not all)
# 2: line scan
# 3: disable ROI (rarely set)
# 4: unused
# 5: data valid invert (rare)
# 6-7: undefined
#
CL_CFG_NORM:                   04

# serial setup -- sdm 0 sets dalsa data mode 0 (8 bit). other init commands
# can be added (colon-separated) within the quotes
#
serial_init: "sem 1:sdm 2"

# 2 horizontal taps for this camera (sdm 2 mode)
#
htaps:                         2

# Region of interest (for linescan, number of lines)
#
vactv:                         512

