
#
# CAMERA_MODEL 	"Piranha 2"
#
# NOTE: requires that pdvcamlk_pir firmware be loaded onto the board (via pciload)
# see the README file or the EDT PCI DV C-Link Users Guide
#

camera_class:                  "Dalsa"
camera_model:                  "Piranha 2"
camera_info:                   "6K x 8 bit 4 tap line scan, 2048 lines (no reorder)"

width:                         6144
height:                        2048
depth:                         8
extdepth:                      8

# rbtfile is ignored for std camera link board but needed
# for DV FOX (fiberoptic) (v3.3.4.9 or later)
#
rbtfile: aiagcl.bit

#
# camera link data path register bits:
# 0-3: number of bits per pixel - 1
# 4-7: number of channels - 1
#
# ignored by Dalsa P2 Xilinx
CL_DATA_PATH_NORM:             00


# camera link config register bits:
# 0: RGB
# 1: ignore data valid
# 2: linescan
# 3: ignore roi
#
CL_CFG_NORM:                   06

#method_interlace:              PIRANHA_4CH_INTLV

continuous:                    1

vactv:                         2048

htaps:                         4

hskip:		0
hactv:		6144
