#
# piranha 2k 2 tap 8 bits
#
# set up for special pcie bitfile pdvcamlk_ltrig.bit or similar
# with line encoder to opto 1 (-> CC1) and frame index pulse into opto2
#

camera_class:                  "Dalsa"
camera_model:                  "Spyder 2"
camera_info:                   "2K x 10 bit 1 tap line scan ext. trig, 2048 lines"

# actual width/height (total pixels) and depth of data from camera
# OR # lines to grab for linescan continuous cameras
#
width:                         2048
height:                        2048
depth:                         10
extdepth:                      10

# bit 4 of CL_CFG_NORM is set, so we also want to set vactv
# to the number of lines we want for an FVAL
#
vactv:                         2048

# rbtfile is ignored for std camera link board but needed
# for DV FOX (fiberoptic) (v3.3.4.9 or later)
#
rbtfile: aiagcl.bit

# camera link data path register bits (hex):
# 0-3: number of bits per pixel - 1
# 4-7: number of channels - 1
#
CL_DATA_PATH_NORM:            09

# camera link config register bits (hex):
# 0: RGB (on for RGB color cameras only)
# 1: ignore data valid (on for most cameras though not all)
# 2: line scan
# 3: disable ROI (rarely set)
# 4: generate an FVAL after every vactv lines, for line scan cameras
# 5: data valid invert (rare)
# 6-7: undefined
#
CL_CFG_NORM:                   16

# serial setup; commands specific to this camera and configuration. other
# init commands can be added (colon-separated) within the quotes
#
# sdm 0 / 1 - data mode 8 bits / 10 bits (both single channel)
# svm 0/1/2 - video mode normal / corrected / gray scale
# sem 6     - trigger mode external trigger  internal prin
#
serial_init: "sdm 1:svm 0:sem 6"

# a0 here to set external trigger passthrough mode, for CC1->line sync
# ALERT: SPECIAL PCIe FPGA MUST BE FLASHED FOR CC1->LINE SYNC
#
MODE_CNTL_NORM: a0

# enable external trigger input for frame synch
#
photo_trig: 1

#disable transfer until triggered
# (CL_CFG2 register is on pcie8 dv c-link and other future boards only)
#
CL_CFG2_NORM:	04
