#
# CAMERA_MODEL		 "Redlake MEGAPLUS ES 4.0 12-bit CameraLink"
#

camera_class:                  "Redlake"
camera_model:                  "MEGAPLUS ES 4.0/E"
camera_info:                   "12-bit CameraLink (8fps, dual ch, continuous)"

width:                         2048
height:                        2048
depth:                         12
extdepth:                      12

# shutter speed for ES 4.0 is in fractions from .098 to 125, but since
# we store in integer, we multiply by 1000 in this case. So use this
# range with pdv_set_exposure
serial_exposure:               "EXE"
shutter_speed_min:             1
shutter_speed_max:             125

# baud rate
#
serial_baud:	9600

# Digital gain is fixed at unity in ES 4.0 12 bit cameras
#
serial_gain:                   "DGN"
gain_min:                      1
gain_max:                      2


# offset (black level)
#
serial_offset:                 "BDE"
offset_min:                    -1024
offset_max:                    1023

# set-up camera to a known state. could use FRS 15 or better but won't be
# reliable without fast PCI bus and minimal other PCI traffic on the bus.
# See EDT PCI DV Users Guide and MEGAPLUS user's manual for detailed
# information on these settings.
serial_init:                   "RDM 2:FRS 8:TRM P:TRS AIA:MDE CS:BNS 1"

# Hey what's the deal with this? TRM P and INV_SHUTTER? Well yeah,
# that's because Kodak wired up the ES 4.0 backwards for some reason.
# they tell us they're leaving it that way so its going to be the
# opposite of all their other cameras. Sigh.
#INV_SHUTTER:                   1
MODE_CNTL_NORM:                00	 #Only mode bit 0 gets to the camera

#no byteswap -- auto set from little/big endian applies in this case
shortswap:                     1

method_camera_shutter_timing:  AIA_SER
method_interlace:              WORD_INTLV

# camera link data path register bits:
# 0-3: number of bits per pixel - 1
# 4-7: number of channels - 1
#
CL_DATA_PATH_NORM:		 1b

# camera link config register bits (hex):
# 0: RGB (on for RGB color cameras only)
# 1: ignore data valid (on for most cameras though not all)
# 2: line scan
# 3: disable ROI (rarely set)
# 4: unused
# 5: data valid invert (rare)
# 6-7: undefined
#
#CL_CFG_NORM:		 		 22
CL_CFG_NORM:		 		 0

# number of taps horizontal or vertical 
htaps: 1
vtaps: 2

hskip: 0
hactv: 2048
vskip: 0
vactv: 2048
